.calculator-body {
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: 0.7rem;
  box-shadow: 10px 10px 4px #333;
  width: 60rem;
  height: 82rem;
  background: #333d4d;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .calculator-body {
    margin-top: 3rem;
    width: 50rem;
    height: 76rem;
    margin-right: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  .calculator-body {
    margin-top: 3rem;
    width: 57rem;
    height: 75rem;
  }
}
@media only screen and (max-width: 768px) {
  .calculator-body {
    margin-top: 5rem;
    width: 55rem;
    height: 70rem;
  }
}
@media only screen and (max-width: 600px) {
  .calculator-body {
    width: 38rem;
    height: 60rem;
    margin-top: 5rem;
  }
}
.calculator-body .calculator-screen {
  min-height: 11.5rem;
  background: #262626;
  width: 100%;
  text-align: right;
  vertical-align: middle;
  color: #ebebeb;
  font-size: 8.25rem;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
  padding-top: 0.25rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 992px) {
  .calculator-body .calculator-screen {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .calculator-body .calculator-screen {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .calculator-body .calculator-screen {
    font-size: 5.2rem;
    padding-right: 1.5rem;
  }
}

button {
  height: 10rem;
  font-size: 2rem;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  background: #737373;
  color: #fff;
  border: 0;
  border-radius: 0.25rem;
}
button:hover {
  background: #8c8c8c;
}
@media only screen and (max-width: 1200px) {
  button {
    height: 9.3rem;
  }
}
@media only screen and (max-width: 992px) {
  button {
    height: 8.8rem;
  }
}
@media only screen and (max-width: 768px) {
  button {
    height: 8rem;
  }
}
@media only screen and (max-width: 600px) {
  button {
    height: 6.3rem;
  }
}

.equal-sign {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
  height: 100%;
  background: #bd5728;
}
.equal-sign:hover {
  background: #d77142;
}

.zero-button {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.logo-div {
  margin: 0 auto;
}
.logo-div .vipp-button {
  width: 124px;
  margin-bottom: 1rem;
  align-self: center;
  justify-self: center;
}
.logo-div .logo {
  font-family: "Kaushan Script", cursive;
  color: #f48769;
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 300;
  transform: rotate(-15deg);
  overflow: hidden;
  background: linear-gradient(to right, #f48769, #f48769 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% 100%;
  background-position: 100%;
  transition: background-position 500ms ease;
  padding-right: 0.8rem;
  margin-right: -0.8rem;
  padding-bottom: 1rem;
  margin-bottom: -0.7rem;
}
.logo-div .logo:hover {
  background-position: 0 100%;
}
@media only screen and (max-width: 768px) {
  .logo-div .logo {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .logo-div .logo {
    font-size: 3rem;
  }
}

* {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  background: #47556b;
  font-weight: 400;
}

.App {
  display: flex;
  height: 100vh;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .App {
    flex-direction: column;
  }
}
.App .text-content {
  width: 50%;
  margin-left: 10rem;
}
@media only screen and (max-width: 1200px) {
  .App .text-content {
    width: 80%;
    margin-left: 1rem;
    height: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .App .text-content {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .App .text-content {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 600px) {
  .App .text-content {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .App .text-content {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}
.App .text-content h1 {
  font-size: 9rem;
  color: #f2f2f2;
}
@media only screen and (max-width: 1200px) {
  .App .text-content h1 {
    font-size: 7rem;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .App .text-content h1 {
    font-size: 6rem;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .App .text-content h1 {
    font-size: 6rem;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .App .text-content h1 {
    font-size: 5rem;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 550px) {
  .App .text-content h1 {
    font-size: 4.5rem;
    padding: 0 2rem;
  }
}
.App .text-content p {
  text-align: left;
  font-size: 4rem;
  width: 75%;
  margin-left: 2.5rem;
  color: #a6a6a6;
}
@media only screen and (max-width: 1200px) {
  .App .text-content p {
    font-size: 3rem;
    width: 80%;
    margin: 0;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .App .text-content p {
    font-size: 3rem;
    width: 100%;
    margin: 0;
    line-height: 1.6;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .App .text-content p {
    font-size: 2.5rem;
    width: 100%;
    margin: 0;
    line-height: 1.6;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .App .text-content p {
    font-size: 3rem;
    width: 100%;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}
.App .text-content p strong {
  font-size: inherit;
  font-weight: 600;
  color: #bfbfbf;
}
.App .text-content p span {
  font-size: inherit;
  font-weight: 600;
}
.App .text-content p span:first-of-type {
  color: #60dcfb;
}
.App .text-content p span:not(:first-of-type) {
  color: #f7dd1d;
}
.App .calculator {
  float: right;
}
.App .calc-and-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .calc-and-icons .icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .App .calc-and-icons .icons {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .App .calc-and-icons .icons {
    margin-bottom: 2rem;
  }
}
.App .calc-and-icons .icons img {
  margin-top: 4rem;
  width: 5rem;
}
.App .calc-and-icons .icons img:hover {
  transform: scale(1.25);
}

.calc-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding: 1rem;
}

/*# sourceMappingURL=index.css.map */
